<div class="padding">
  <div class="row">
      
      
    <div class="col-lg-12">
        
        <div class="box">
            <div class="box-header blue">
              <h2>Create a new project</h2>
              <small>Fill this simple form to create a new project.</small>
            </div>
            <div class="box-divider m-a-0"></div>
            <div class="box-body p-v-md">
              <form class="form-horizontal" role="form" name="projectWizard" ng-submit="wizardSubmit(false)" novalidate>
                <div class="form-group row">
                    <div class="form-group col-xs-12 col-sm-10 col-md-8">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control" id="field1" name="{{field1.name}}" ng-model="project[attrib]" placeholder="{{field1.placeholder}}" focus="true" autocomplete="off" ng-keyup="keyUp($event)" >  
                        </div>
                    </div>
                        <div class="form-group col-xs-12 col-sm-2 col-md-4"> 
                        <button type="button" class="btn btn-fw warning" ng-click="wizardSubmit(true)" ng-show="true" ng-disabled="!field1.backButton">Previous or <-</button>
                        <button type="submit" class="btn btn-fw success" ng-disabled="projectWizard.$invalid">{{field1.buttonText}}</button>
                        </div>


                </div>
              </form>
            </div>
        </div>

          <div class="box">
            <div class="box-header form-group">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
                <h4>Projects List</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-offset-7 col-lg-3">
                <input type="text" class="b-a rounded" ng-model="projectFilt" placeholder="  Filter">
                </div>
                
            </div>
            <table class="table table-hover m-a-0">
              <tr style="font-weight: bold">
                <td style="width:30%">Title</td>
                <td style="width:15%">Url</td>
                <td style="width:15%">Hosting</td>
                <td style="width:15%">Comments</td>
                <td style="width:25%">Edit</td>
              </tr>
              <tr ng-repeat="project in projects | filter:projectFilt">
                <td class="v-middle">
                  <span editable-text="project.title" e-name="title" e-form="rowform" e-required>
                    <a ui-sref="app.form.projectdetail({id: project._id})">{{ project.title || 'empty' }}</a>
                  </span>
                    
                    
                    
                    
                </td>
                <td class="v-middle">
                  <span editable-text="project.url" e-name="url" e-form="rowform" e-required>
                    {{ project.url || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="project.hosting" e-name="hosting" e-form="rowform" e-required>
                    {{ project.hosting || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="project.comments" e-name="comments" e-form="rowform" e-required>
                    {{ project.comments || 'empty' }}
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveProject($data, project._id)" ng-show="rowform.$visible" class="form-buttons form-inline">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
                      save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm white">
                      cancel
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-sm btn-danger" ng-click="removeProject(project._id)">del</button>
                  </div>  
                </td>
              </tr>
            </table>
            <div class="dker p-a b-t">
              <button class="btn btn-info" ng-click="addProject()">Add row</button>
            </div>
          </div>

            
            
            
            
        
        <div class="box">
            <div class="box-header blue">
              <h2>Create a new project</h2>
              <small>Fill this simple form to create a new project.</small>
            </div>
            <div class="box-divider m-a-0"></div>
            <div class="box-body p-v-md">
              <form class="form-horizontal" role="form" ng-submit="sendProject()" novalidate>
                <div class="form-group row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-8">
                        <div class="input-group">
                            <label class="sr-only" for="title">Project Title</label>
                            <input type="text" class="form-control" id="title" ng-model="project.title" placeholder="Title" required>
                            <div class="input-group-addon">-></div>
                            <input class="form-control" type="text" ng-model="project.url" placeholder="URL" required>
                            <div class="input-group-addon">+</div>
                            <label class="sr-only" for="comment">Comment</label>
                            <input type="text" class="form-control" id="comment" ng-model="project.comments" placeholder="Comments">
                        </div>
                    </div>
                   <div class="form-group col-xs-6 col-sm-3 col-md-1">
                      <label class="label label blue m-t">Hosting?  </label>
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-md-1">
                      <label class="ui-switch ui-switch-sm blue m-t"><input type="checkbox" ng-model="project.hostingSelect"><i class="blue"></i></label> 
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-2">
                    <button type="submit" class="btn btn-fw success col-xs-12" ng-disabled="projectForm.$invalid">Save</button>
                    </div>
                    <div class="form-group col-xs-12 col-md-4 col-md-offset-8" ng-show="project.hostingSelect">
                        <select class="form-control"
                           ng-model="project.hosting"
                           ng-options="channel.value as channel.label for channel in hostingOptions">
                            <option value="">C-Panel or AWS?</option>
                        </select>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>   
      
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
              <h2>Current Projects</h2>
              <small>See the existing projects below.</small>
            </div>
            <div class="box-divider m-a-0"></div>
                <div class="box-body p-v-md">
                    <div class="row m-a">
                        <span>Filter Projects: 
                        <input type="text" ng-model="projectFilt"></span>
                        <ul class="list-unstyled m-t" ng-repeat="project in projects | filter:projectFilt">
                            <li><blockquote>
                                <div class="label label-lg success pos-rlt m-r-xs"><b class="arrow arrow-lg right b-success pull-in"></b>title:</div>
                                <label class="label label-lg blue">{{project.title}}</label>
                                <br>
                                <div class="label label-lg primary pos-rlt m-r-xs"><b class="arrow arrow-lg right b-primary pull-in"></b>url:</div>
                                <label class="label label-lg">{{project.url}}</label>
                                <br>
                                <span class="label primary pos-rlt m-r-xs">{{project.hosting}}</span>
                                
                                
                                <div class="box-divider m-a-0"></div>
                            </blockquote></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div> 
      
 <div class="col-sm-6">
      <p>Text &amp; Icon</p>
      <div class="box">
        <ul class="list inset m-a-0">
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle accent">
                <i class="fa fa-envelope"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Chris Fox</a></div>
              <small class="text-muted text-ellipsis">Designer, Blogger</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle green">
                <i class="fa fa-comment"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Mogen Polish</a></div>
              <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle purple avatar">
                <span>J</span>
                <i class="busy b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Joge Lucky</a></div>
              <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle danger avatar">
                <span>F</span>
                <i class="off b-danger"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Folisise Chosielie</a></div>
              <small class="text-muted text-ellipsis">Musician, Player</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle warning avatar">
                <span>P</span>
                <i class="on b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Peter</a></div>
              <small class="text-muted text-ellipsis">Musician, Player</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
        
      

      
  </div>
</div>
