<div class="padding">
  <div class="row">
       
    <div class="col-lg-12">  
        <div class="box">
            <div class="box-header blue">
              <h2>{{project.title}}</h2>
              <small>Welcome on {{project.title}}'s page.</small>
            </div>
            <form class="form-horizontal" role="form" ng-submit="" novalidate>
            <div class="box-divider m-a-0"></div>
                <div class="form-group row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12">
                            <button type="button" ng-click="flipActive(1)" class="btn btn-fw success col-xs-6 col-sm-4 col-md-2">Contacts</button>
                            <button type="button" ng-click="flipActive(2)" class="btn btn-fw success col-xs-6 col-sm-4 col-md-2">Sites</button>
                            <button type="button" ng-click="flipActive(3)" class="btn btn-fw success col-xs-6 col-sm-4 col-md-2">Domains</button>
                            <button type="button" ng-click="flipActive(4)" class="btn btn-fw success col-xs-6 col-sm-4 col-md-2">Emails</button>
                            <button type="button" ng-click="flipActive(5)" class="btn btn-fw success col-xs-6 col-sm-4 col-md-2">Hosting</button>
                            <button type="button" ng-click="flipActive(6)" class="btn btn-fw success col-xs-6 col-sm-4 col-md-2">Voice</button>
                            <div class="col-xs-11 col-md-11"><input type="text" class="form-control m-t-sm m-l-sm m-r-sm" id="filter" ng-model="projectFilt" 
                                        placeholder="Search Here..." required></div>     
                    </div>
                </div>                           
            </form> 
        </div>
            
    <!-- CONTACT TABLE START -->
          <div class="box" ng-show="editState.contact">
 
            <div class="box-header form-group">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
                <h4>Contacts of {{project.title}}</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-offset-7 col-lg-3">
                <input type="text" class="b-a rounded" ng-model="projectFilt" placeholder="  Filter">
                </div>
            </div>
            <table  class="table table-hover m-a-0">
              <tr style="font-weight: bold">
                <td style="width:20%">Name</td>
                <td style="width:15%">Role</td>
                <td style="width:15%">Phone</td>
                <td style="width:15%">Email</td>
                <td style="width:15%">Comments</td>
                <td style="width:20%">Controls</td>
              </tr>
              <tr ng-repeat="contact in project.contacts | filter:projectFilt">
                <td class="v-middle">
                  <span editable-text="contact.name" e-name="name" e-form="rowform" e-required>
                    {{ contact.name || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="contact.role" e-name="role" e-form="rowform" e-required>
                    {{ contact.role || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="contact.phone" e-name="phone" e-form="rowform" e-required>
                    {{ contact.phone || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="contact.email" e-name="email" e-form="rowform" e-required>
                    {{ contact.email || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="contact.note" e-name="note" e-form="rowform" e-required>
                    {{ contact.note || 'empty' }}
                  </span>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveContact($data, contact.$$hashKey)" ng-show="rowform.$visible" class="form-buttons form-inline">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
                      save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm white">
                      cancel
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-sm btn-danger" ng-click="removeContact(contact.$$hashKey)">del</button>
                  </div>  
                </td>
              </tr>
            </table>
            <div class="dker p-a b-t">
              <button class="btn btn-info" ng-click="addContact()">Add contact</button>
            </div>  
            <div class="box">
                <div class="box-header blue">
                  <h2>Create a new contact in {{project.title}}'s project</h2>
                  <small>Fill this simple form to create a new contact. You may use the left and right arrow to navigate the form.</small>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="box-body p-v-md">
                  <form class="form-horizontal" role="form" name="contactWizard" ng-submit="contactWizardSubmit(false)" novalidate>
                    <div class="form-group row">
                        <div class="form-group col-xs-12 col-sm-10 col-md-8">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control" id="contactField" name="{{contactField.name}}" ng-model="contact[attrib]" placeholder="{{contactField.placeholder}}" focus="true" autocomplete="off" ng-keyup="keyUp($event)" >  
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-2 col-md-4"> 
                            <button type="button" class="btn btn-fw warning" ng-click="contactWizardSubmit(true)" ng-show="true" ng-disabled="!contactField.backButton">Previous or <-</button>
                            <button type="submit" class="btn btn-fw success" ng-disabled="contactWizard.$invalid">{{contactField.buttonText}}</button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>   
    <!-- CONTACT TABLE END -->
    <!-- SITE TABLE START -->
          <div class="box" ng-show="editState.site">
 
            <div class="box-header form-group">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
                <h4>Sites of {{project.title}}</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-offset-7 col-lg-3">
                <input type="text" class="b-a rounded" ng-model="projectFilt" placeholder="  Filter">
                </div>
            </div>
            <table class="table table-hover m-a-0">
              <tr style="font-weight: bold">
                <td style="width:20%">Title</td>
                <td style="width:15%">URL</td>
                <td style="width:15%">Type</td>
                <td style="width:15%">Domain</td>
                <td style="width:15%">Hosting</td>
                <td style="width:20%">Controls</td>
              </tr>
              <tr ng-repeat="site in project.sites | filter:projectFilt">
                <td class="v-middle">
                  <span editable-text="site.title" e-name="title" e-form="rowform" e-required>
                    {{ site.title || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="site.url" e-name="url" e-form="rowform" e-required>
                    {{ site.url || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                      <a href="#" editable-select="site.type"  e-name="type" e-form="rowform" e-ng-options="siteType.value as siteType.label for siteType in siteTypeOptions" e-required>{{ displaySiteTypeOptions(site.type)|| 'empty' }} </a>
                </td>
                <td class="v-middle">
                    <button class="btn btn-sm btn-info" ng-show="site.domains.length" ng-click="DOSOMETHING()">{{ 'View ' + site.domains.length + '                                Domains'}}</button>
                    <button class="btn btn-sm btn-success" ng-show="!site.domains.length" ng-click="DOSOMETHING()">{{'Add Domain'}}</button>
                </td>
                <td class="v-middle">
                    <button class="btn btn-sm btn-info" ng-show="site.hosting.title" ng-click="DOSOMETHING()">{{site.hosting.title + '                                Hosting'}}</button>
                    <button class="btn btn-sm btn-success" ng-show="!site.hosting.title" ng-click="DOSOMETHING()">{{'Add Hosting'}}</button>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveSite($data, site.$$hashKey)" ng-show="rowform.$visible" class="form-buttons form-inline">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
                      save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm white">
                      cancel
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-sm btn-danger" ng-click="removeSite(site.$$hashKey)">del</button>
                  </div>  
                </td>
              </tr>
            </table>
            <div class="dker p-a b-t">
              <button class="btn btn-info" ng-click="addSite()">Add site</button>
            </div>  
            <div class="box">
                <div class="box-header blue">
                  <h2>Create a new site in {{project.title}}'s project</h2>
                  <small>Fill this simple form to create a new site. You may use the left and right arrow to navigate the form.</small>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="box-body p-v-md">
                  <form class="form-horizontal" role="form" name="siteWizard" ng-submit="siteWizardSubmit(false)" novalidate>
                    <div class="form-group row">
                        <div class="form-group col-xs-12 col-sm-10 col-md-8">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control" id="siteField" name="{{siteField.name}}" ng-model="site[attrib]" placeholder="{{siteField.placeholder}}" focus="true" autocomplete="off" ng-keyup="keyUp($event)" >  
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-2 col-md-4"> 
                            <button type="button" class="btn btn-fw warning" ng-click="siteWizardSubmit(true)" ng-show="true" ng-disabled="!siteField.backButton">Previous or <-</button>
                            <button type="submit" class="btn btn-fw success" ng-disabled="siteWizard.$invalid">{{siteField.buttonText}}</button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>   
    <!-- SITE TABLE END -->
    <!-- DOMAINS TABLE START -->
          <div class="box" ng-show="editState.domain">
 
            <div class="box-header form-group">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
                <h4>Domains of {{project.title}}</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-offset-7 col-lg-3">
                <input type="text" class="b-a rounded" ng-model="projectFilt" placeholder="  Filter">
                </div>
            </div>
            <table  class="table table-hover m-a-0">
              <tr style="font-weight: bold">
                <td style="width:20%">URL</td>
                <td style="width:15%">Redirect</td>
                <td style="width:15%">Comments</td>
                <td style="width:15%">Registrar</td>
                <td style="width:15%">Email</td>
                <td style="width:20%">Controls</td>
              </tr>
              <tr ng-repeat="domain in project.site.domains | filter:projectFilt">
                <td class="v-middle">
                  <span editable-text="domain.url" e-name="url" e-form="rowform" e-required>
                    {{ domain.url || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="domain.redirect" e-name="redirect" e-form="rowform" e-required>
                    {{ domain.redirect || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                  <span editable-text="domain.comment" e-name="comment" e-form="rowform" e-required>
                    {{ domain.comment || 'empty' }}
                  </span>
                </td>
                <td class="v-middle">
                    <button class="btn btn-sm btn-info" ng-show="domain.registrar.title" ng-click="DOSOMETHING()">{{site.registrar.title + '                                Registrar'}}</button>
                    <button class="btn btn-sm btn-success" ng-show="!domain.registrar.title" ng-click="DOSOMETHING()">{{'Add Registrar'}}</button>
                </td>
                <td class="v-middle">
                    <button class="btn btn-sm btn-info" ng-show="domain.emails.length" ng-click="DOSOMETHING()">{{ 'View ' + domain.emails.length + '                                Emails'}}</button>
                    <button class="btn btn-sm btn-success" ng-show="!domain.emails.length" ng-click="DOSOMETHING()">{{'Add Email'}}</button>
                </td>
                <td style="white-space: nowrap">
                  <!-- form -->
                  <form editable-form name="rowform" onbeforesave="saveDomain($data, domain.$$hashKey)" ng-show="rowform.$visible" class="form-buttons form-inline">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-info">
                      save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-sm white">
                      cancel
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-sm btn-info" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-sm btn-danger" ng-click="removeDomain(domain.$$hashKey)">del</button>
                  </div>  
                </td>
              </tr>
            </table>
            <div class="dker p-a b-t">
              <button class="btn btn-info" ng-click="addDomain()">Add domain</button>
            </div>  
            <div class="box">
                <div class="box-header blue">
                  <h2>Create a new domain in {{project.title}}'s project</h2>
                  <small>Fill this simple form to create a new domain. You may use the left and right arrow to navigate the form.</small>
                </div>
                <div class="box-divider m-a-0"></div>
                <div class="box-body p-v-md">
                  <form class="form-horizontal" role="form" name="domainWizard" ng-submit="domainWizardSubmit(false)" novalidate>
                    <div class="form-group row">
                        <div class="form-group col-xs-12 col-sm-10 col-md-8">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control" id="domainField" name="{{domainField.name}}" ng-model="domain[attrib]" placeholder="{{domainField.placeholder}}" focus="true" autocomplete="off" ng-keyup="keyUp($event)" >  
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-2 col-md-4"> 
                            <button type="button" class="btn btn-fw warning" ng-click="domainWizardSubmit(true)" ng-show="true" ng-disabled="!domainField.backButton">Previous or <-</button>
                            <button type="submit" class="btn btn-fw success" ng-disabled="domainWizard.$invalid">{{domainField.buttonText}}</button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>   
    <!-- DOMAINS TABLE END -->    
              


            
            
            
            
        

    
      
 <div class="col-sm-6">
      <p>Text &amp; Icon</p>
      <div class="box">
        <ul class="list inset m-a-0">
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle accent">
                <i class="fa fa-envelope"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Chris Fox</a></div>
              <small class="text-muted text-ellipsis">Designer, Blogger</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle green">
                <i class="fa fa-comment"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Mogen Polish</a></div>
              <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle purple avatar">
                <span>J</span>
                <i class="busy b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Koge Lucky</a></div>
              <small class="text-muted text-ellipsis">Art director, Movie Cut</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle danger avatar">
                <span>K</span>
                <i class="off b-danger"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Folisise Chosielie</a></div>
              <small class="text-muted text-ellipsis">Musician, Player</small>
            </div>
          </li>
          <li class="list-item">
            <a herf class="list-left">
              <span class="w-40 circle warning avatar">
                <span>P</span>
                <i class="on b-white"></i>
              </span>
            </a>
            <div class="list-body">
              <div><a href>Peter</a></div>
              <small class="text-muted text-ellipsis">Musician, Player</small>
            </div>
          </li>
        </ul>
      </div>
    </div>
        
      

      
  </div>
</div>
