<!-- search form -->
<form class="navbar-form form-inline navbar-item m-l v-m" role="search">
  <div class="form-group l-h m-a-0">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" ng-model="projectFilt" placeholder="Search projects...">
      <span class="input-group-btn">
        <button type="submit" class="btn white b-a no-shadow"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
</form>
<!-- / search form -->
