<!-- brand -->
<a class="navbar-brand">
	<div ui-include="'../assets/images/logoqk.svg'"></div>
	<img src="../assets/images/logo.png" alt="." class="hide">
	<span class="hidden-folded inline">{{app.name}}</span>
</a>
<!-- / brand -->
